*{

    margin: 0;
    padding: 0;

}

body{

    display: flex;
   justify-content: space-evenly;
}



.chart_graph{

    margin-top: 10%;
    display: flex;
    width: 500px;
    height: 300px;
    align-self: center;
    justify-self: center;

}